[color]
	ui = true
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[fetch]
  prune = true
[init]
  defaultBranch = main
[user]
	name = Joshua Woolf
	email = joshuawoolf87@gmail.com
[push]
	autoSetupRemote = true
	followTags = true
[rebase]
	autoStash = true
[alias]
  authors = !git log --format='%aN <%aE>' | grep -v 'users.noreply.github.com' | sort -u --ignore-case
  contrib = shortlog --summary --numbered
  gtm = "!git checkout main && git fetch --prune && git worktree prune && git pull && git clean -fdx && git remote prune origin; git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d"
  l = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset %Cgreen%ad%Creset %s %C(blue)<%an>%Creset%C(yellow)%d%Creset' --date=short
  ld = "!sh -c \"git log --since '${1:-1} days ago' --oneline --author $(git config user.email)\" -"
  lm = log --pretty=format:'* %s (%h)'
  remotes = remote -vv
  rh = reset --hard HEAD
  s = status -sb
  tags = tag -l
  u = "!git fetch --prune && git worktree prune && git pull"
