[color]
	ui = true
[color "branch"]
	current = "#e6edf3 bold"
	local = "#e6edf3"
	remote = "#79c0ff"
	upstream = "#3fb950"
	plain = "#7d8590"
[color "diff"]
	meta = "#7d8590"
	frag = "#d2a8ff"
	context = "#8b949e"
	func = "#79c0ff"
	old = "#f85149"
	new = "#3fb950"
	commit = "#d29922"
	whitespace = "#f85149 reverse"
[color "status"]
	header = "#79c0ff bold"
	added = "#3fb950"
	changed = "#d29922"
	untracked = "#79c0ff"
	branch = "#79c0ff"
	nobranch = "#f85149"
	unmerged = "#f85149"
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[fetch]
	prune = true
[init]
	defaultBranch = main
[user]
	name = Joshua Woolf
	email = joshuawoolf87@gmail.com
[push]
	autoSetupRemote = true
	followTags = true
[rebase]
	autoStash = true
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[alias]
	authors = !git log --format='%aN <%aE>' | grep -v 'users.noreply.github.com' | sort -u --ignore-case
	contrib = shortlog --summary --numbered
	gtm = "!git checkout main && git fetch --prune && git worktree prune && git pull --ff-only && git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d"
	l = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset %Cgreen%ad%Creset %s %C(blue)<%an>%Creset%C(yellow)%d%Creset' --date=short
	ld = "!sh -c \"git log --since '${1:-1} days ago' --oneline --author $(git config user.email)\" -"
	lm = log --pretty=format:'* %s (%h)'
	remotes = remote -vv
	rh = reset --hard HEAD
	s = status -sb
	tags = tag -l
	u = "!git fetch --prune && git worktree prune && git pull --ff-only"
